## Default page handling for nginx

server {
    listen 80;
    listen [::]:80;

    root /srv/www/default;
    index index.php index.html index.htm;

    server_name {{default_page_hostname}};

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        fastcgi_pass   unix:{{php_socket}};
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }
}
