<!doctype html>
<html>
<head>
<title>Lempo</title>
</head>
<body>
<h1>Default page for lempo</h1>
<p>Congratulations! Your LEMPO role has been successfully installed on this server</p>
<ul>
<li>Visit <a href="phpinfo.php">phpinfo.php</a>
</ul>
</body>
</html>
