# Advanced InnoDB configuration for MariaDB

[mysqld]
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
innodb_buffer_pool_size = {{innodb_cache_size}}
innodb_io_capacity = {{innodb_io_cap}}

{% if innodb_no_double_write == true %}
## Custom performance tuning at cost of integrity
#innodb_doublewrite=OFF
#innodb_support_xa=0
{% endif %}

# Using newer file format that supports dynamic and compressed row formats.
# If you are using replication you have to make sure, that these options are
# set everywhere the same way (probably comment them out is the easiest way)
innodb_file_format={{innodb_file_format}}
innodb_file_per_table=ON
